asgiref==3.9.2
blinker==1.9.0
certifi==2025.8.3
charset-normalizer==3.4.4
click==8.3.0
colorama==0.4.6
comtypes==1.4.12
crispy-bootstrap4==2025.6
distlib==0.4.0
Django==5.2.6
django-cors-headers==4.9.0
django-crispy-forms==2.4
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
filelock==3.19.1
Flask==3.1.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mssql-django==1.6
packaging==25.0
pillow==11.3.0
pipenv==2025.0.4
platformdirs==4.4.0
PyJWT==2.10.1
pyodbc==5.2.0
pypiwin32==223
pyttsx3==2.99
pytz==2025.2
pywin32==311
reportlab==4.4.4
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
virtualenv==20.34.0
Werkzeug==3.1.3
